/* .yellow{

}

#green{

}

 button{
    font-size: ;
    background-color: ;
    padding: ;
    border-radius: ;
    border: ;
    border: solid;
    margin: ;
} 

.flexRow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flexRowItem{
    flex: 50%;
    padding: 20px;
}

.flexCol{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}  */

